<div class='panel panel-default'>
  <div class='panel-heading'>
    Options
  </div>
  <div class='panel-body'>
    <ul class='list-group'>
      <li class='list-group-item'>
        Hotels
        <br />
        <select id="hotels" style='width: 80%' class='form-control input-sm pull-left'>

        </select>
        <button id="hotelbutton" class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item'>
        Restaurants
        <br />
        <select id="restaurants" style='width: 80%' class='form-control input-sm pull-left'>

        </select>
        <button id="restaurantbutton" class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item'>
        Activities
        <br />
        <select id="activities" style='width: 80%' class='form-control input-sm pull-left'>

        </select>
        <button id="activitybutton" class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>
    </ul>

  </div>
</div>
