{% extends './layout.html' %}
{% block content %}
<div class='row'>
  <div class='col-sm-8'>
    <div id='map'></div>
  </div>
  <div class='col-sm-4'>
    {% include './_options.html' %}
    {% include './_dayPicker.html' %}
    {% include './_day.html' %}
  </div>
</div>
<script src='/vendor/jquery/dist/jquery.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
<script src='/public/js/Map.js'></script>
<script src='/public/js/app.js'></script>
<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
</script>

{% endblock %}
